@font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/sansation-light.ttf'); /* IE9 Compat Modes */
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer !important;
}

.fz16 {
    font-size: 16px !important;
}

.fz13 {
    font-size: 13px !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.transition-300 {
    transition: 300ms !important;
}

.transition-600 {
    transition: 600ms !important;
}

.fit-w {
    width: fit-content !important;
}

.fit-h {
    height: fit-content !important;
}

.visibility-h {
    visibility: hidden;
}

.avoid-clicks {
    pointer-events: none;
}

.outline-n {
    outline: none;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}

.parent {
    width: 300px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  /*font-size: 14px;*/
  line-height: 1;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mx-w-766 {
    max-width: 776px;
}

.mx-w-631 {
    max-width: 631px;
}

.mx-w-370 {
    max-width: 370px;
}

.mx-w-988 {
    max-width: 988px;
}

.w-100per {
    width: 100%;
}
