@font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/sansation-light.ttf'); /* IE9 Compat Modes */
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer !important;
}

.fz16 {
    font-size: 16px !important;
}

.fz13 {
    font-size: 13px !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.transition-300 {
    transition: 300ms !important;
}

.transition-600 {
    transition: 600ms !important;
}

.fit-w {
    width: fit-content !important;
}

.fit-h {
    height: fit-content !important;
}

.visibility-h {
    visibility: hidden;
}

.avoid-clicks {
    pointer-events: none;
}

.outline-n {
    outline: none;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}
